{% extends 'basic.html' %}
{% load static %}

{% block content %}  
<!--slider-->

    <!--sliders-->
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'assets/img/sliders/slider_accueil/br3.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/sliders/slider_accueil/br4.jpg' %}" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item">
          <img src="{% static 'assets/img/sliders/slider_accueil/br5.jpg' %}" class="img-fluid" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
    <!--endslider-->
    {% if searched %}
    {{ searched }}<br/>
    {% for search  in serveuR %}
    
    {% endfor %}


    {% else %}

    NONONONOOOOOO
    {% endif %}
{% endblock content %} 